{% extends 'base.html' %}
<!-- 템플릿 확장 -->
{% load static %}
{% block script %}
<link href="{% static 'css/signup.css' %}" rel='stylesheet' />
<script src="{% static 'js/signup.js' %}"></script>
<script src="{% static 'js/type_img.js' %}"></script>
{% endblock %}
{% block content %}
<section class="signup_bg">
    <div class="signup_text">회원가입</div>
    <div class="tag_block">
        <div class="type_text">가입유형을 선택해주세요.</div>
        <div class="block_label"><label id="typeCheck"></label></div>
        <div class="filter">
            <!-- radio버튼 이미지화 -->
            <div class="radio_text">
                <div class="radio_btn">
                    <label><input type="radio" name="member_type" value="book">
                    <span id="book"><img src="{% static 'img/book.png'%}" srcset="{% static 'img/book@2x.png'%} 2x, {% static 'img/book@3x.png'%} 3x" class="book">
                    </span></label>
                </div>
                <div>스토리 작가</div>
            </div>
            <div class="radio_text">
                <div class="radio_btn">
                    <label><input type="radio" name="member_type" value="graphic">
                    <span id="graphic"><img src="{% static 'img/graphic-tablet.png'%}" srcset="{% static 'img/graphic-tablet@2x.png'%} 2x, {% static 'img/graphic-tablet@3x.png'%} 3x" class="graphic-tablet">
                    </span></label>
                </div>
                <div>그림 작가</div>
            </div>
        </div>

        <div class="block_text">아이디</div>
        <div class="block_tag"><input type="text" id="member_id" placeholder="아이디를 입력해주세요."></div>
        <div class="block_label"><label id="idCheck"></label></div>
        <div class="block_text">비밀번호</div>
        <div class="block_tag"><input type="password" id="member_pw" placeholder="비밀번호를 입력해주세요."></div>
        <div class="block_label"><label id="pwCheck"></label></div>
        <div class="block_text">이름</div>
        <div class="block_tag"><input type="text" id="member_name" placeholder="이름을 입력해주세요."></div>
        <div class="block_label"><label id="nameCheck"></label></div>
        <div class="block_text">이메일</div>
        <div class="block_tag">
            <!-- 이메일 형식 1,2로 분리 단, 기타 선택 시 도메인 입력하도록 jquery로 형식 3 정의 -->
            <input type="text" id="member_email1" placeholder="이메일을 입력해주세요.">@
            <select name="member_email2" id="member_email2">
                <option value="" selected disabled hidden>선택하기</option>
                <option value="naver.com">네이버</option>
                <option value="hanmail.net">다음</option>
                <option value="gmail.com">구글</option>
                <option value="etc">기타</option>
            </select>
        </div>
        <div id="etc"></div>
        <div class="block_label"><label id="emailCheck"></label></div>
        <div class="block_btn"><input type="button" id="join" value="회원가입"></div>
    </div>
</section>
{% endblock %}